
<div class='slide'>
  <div>Ashish Shetty</div> <!-- Anything can go inside -->
</div>
<div class='slide'>
  <div></div>
</div>
<div class='slide'>
  <div>Yippieeeeee!!!!!<br/><br/>And goes in four directions!</div>
</div>
<div class='slide'>
  <div></div>
</div>
<div class='slide'>
  <div></div>
</div>